body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #00025e;
}

.section {
    margin-bottom: 20px;
    background-color: #05c715;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(35, 136, 44, 0.1);
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

/* Estilos para enlaces */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
